{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "@typescript-eslint"
    ],
    "extends": [
        "airbnb-base",
        "airbnb-typescript/base",
        "plugin:react/recommended"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "class-methods-use-this": [
            "error",
            { "exceptMethods": ["store", "show"] }
        ],
        "no-underscore-dangle": ["error", { "allow": ["_id"] }],
        "indent": ["error", 4],
        "no-param-reassign": ["error", { "props": false }],
        "no-use-before-define": ["error", { "functions": false }]
    }
}
